<%=@P1_name%> V <%=@P2_name%>!!!!!!!
<p>Enemy HP: 100</p>

<form action='/attack'>
  <input type= 'submit'  value= 'P1 ATTACK'>
</form>
<form action='/p2attack'>
  <input type= 'submit'  value= 'P2 ATTACK'>
</form>
