<h1 align="center">BATTLE!!</h1>
<h2 align="center">Enter your names, minions!</h2>
<form align="center" action='/names' method='post'>
  <label for= 'P1'>Name:<label>
    <input type= 'text'  name= 'P1'>
  </label>
  <label for= 'P2'>Name:<label>
    <input type= 'text'  name= 'P2'>
  </label>
  <div align="center">
    <input type= 'submit' value= 'Battle!'>
  </div>
</form>
