<form action='/names' method='post'>
  <label for= 'P1'>Name:<label>
  <input type= 'text'  name= 'P1'>
  <label for= 'P2'>Name:<label>
  <input type= 'text'  name= 'P2'>
  <input type= 'submit' value= 'Battle!'>
</form>
